<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D.LAB X Django</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    {% load static %}
    <style>
        .logo {
            flex: 1;
        }
        .add-button{

        }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" style="text-align: center">
                <a href="{% url 'index' %}">
                    <img class = "navbar-brand" src="../../media/dlab_logo_white.png">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'admin:index' %}">ADMIN</a></li>
                <li><a href="{% url 'bookmark_index' %}">BOOKMARK</a></li>
                <li><a href="{% url 'blog_index' %}">BLOG</a></li>
                <li><a href="{% url 'corona_index' %}">COVID</a></li>
            </ul>

            {% if user.is_active %}

            <div class = "navbar-nav" style="padding-top: 10px;">
                <a href="{% url 'logout' %}">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Sign Out</button>
                </a>
                <a href="{% url 'password_change' %}">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Change Password</button>
                </a>
            </div>
            <p class="navbar-text">디랩의 자랑, {{ user.get_username }}님을 환영합니다.</p>

            {% else %}

            <div class = "navbar-nav" style="padding-top: 10px;">
                <a href="{% url 'register' %}">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Sign Up</button>
                </a>
                <a href="{% url 'login' %}">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Login</button>
                </a>
            </div>
            <p class="navbar-text">로그인 해주세요.</p>
            {% endif %}
        </div>
    </nav>

<br><br>
<div class="row">
    <div class = "col-sm-4"></div>
    <div class = "col-sm-4 logo">

        <div>
            <img src = "../media/logo.jpg">
            <br>
            <a href="{% url 'blog_add' %}">
                <button class="add-button w3-button w3-medium w3-circle w3-dark-gray w3-hover-light-gray">+</button>
            </a>
            <br>
            <br>
        </div>
        {% for post in object_list reversed %}
         <div class="thumbnail">

        {% if request.user == post.author %}
             <div align="right" style="position:absolute;   right: 20px;">
                <div class="w3-dropdown-hover" style="background-color: Transparent;">
                    <button class="w3-button w3-circle w3-hover-light-gray" style="opacity: 0.33;">...</button>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                      <a href="{% url 'blog_update' post.id %}" class="w3-bar-item w3-button">수정</a>
                      <a href="{% url 'blog_delete' post.id %}" class="w3-bar-item w3-button">삭제</a>
                    </div>
                </div>
             </div>

            {% endif %}
             <h5>{{ post.title }}</h5>

             <a href="{% url 'blog_detail' post.id %}">
                 {% if post.image.url != null %}
                    <img src = "{{ post.image.url }}" onerror="this.onerror=null; this.src='../media/imageerror.png'">
                 {% else %}
                    <img src  ="../media/imageerror.png">
                 {% endif %}
             </a>



            <p>{{ post.description }}</p>
        </div>
        {% endfor %}
    </div>
</div>


</body>

</html>